<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <title>Github Finder</title>

    <style>

    .chart {
    margin-top: 50px;
    display: table;
    table-layout: fixed;
    width: 60%;
    max-width: 700px;
    height: 200px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0) 2%);
    background-size: 100% 50px;
    background-position: left top;
    }
    .chart li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 200px;
    }
    .chart span {
    margin: 0 1em;
    display: block;
    background: #d9534f;
    animation: draw 1s ease-in-out;
    }
    .chart span:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 5px 1em 0;
    display: block;
    text-align: center;
    content: attr(title);
    word-wrap: break-word;
    }

    @keyframes draw {
    0% {
    height: 0;
    }
    }

    </style>

</head>
<body style="background-color:rgb(246, 213, 199)">
    <nav class="navbar navbar-dark bg-danger mb-3">
        <div class="container">

            <a href="/" class = "navbar-brand">Github</a>
            <a href="/search" class = "navbar-brand">Twitter</a>
        </div>
    </nav>
    <div class="container searchContainer">
        <div class="search card card-body" style="background-color:rgb(246, 213, 199)">
            <h3>Github Search</h3>
            <p class="lead">
            </p>
            <form action="/" method="post">
                <input type="text" name="githubname" class = "form-control" placeholder="Github name">
                <br>
                <button type = "submit" class ="btn btn-danger">Search</button>
            </form>
        </div>
        <br>
        {% if profile %}
        <div id="profile">

            <div class="card card-body mb-3" style="background-color:#DCF1ED">
                    <div class="row">
                      <div class="col-md-3">
                        <img class="img-fluid mb-2" src="{{profile.avatar_url}}">
                        <a href="{{profile.html_url}}" target="_blank" class="btn btn-danger btn-block mb-4">Show Profile</a>
                      </div>
                      <div class="col-md-9">
                        <span class="badge badge-primary">Repo number: {{profile.public_repos}} </span>
                        <span class="badge badge-success">Followers: {{profile.followers}} </span>
                        <span class="badge badge-info">following: {{profile.following}}</span>
                        <br><br>
                        <ul class="list-group">
                          <li class="list-group-item">Website/Blog:{{profile.blog}}</li>
                          <li class="list-group-item">Location:{{profile.location}}</li>
                          <li class="list-group-item">Profile created:{{profile.created_at}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <h3 class="page-heading mb-3">Last repositories</h3>
                  <div id="repos" style ="margin-bottom: 100px;">
                    {% for repo in repos %}
                    <div class="card card-body mb-2" style="background-color:#DCF1ED">
                        <div class="row">
                          <div class="col-md-6">
                            <span>{{repo.name}}</span>
                            <a href="{{repo.html_url}}" target = "_blank" class = "btn btn-danger"> Go to the repository</a>
                          </div>
                          <div class="col-md-6">
                          <span class="badge badge-primary">star: {{repo.stargazers_count}} </span>
                          <span class="badge badge-primary">commits: {{total_spice[loop.index0]}}</span>
                          <span class="badge badge-success">forks:{{repo.forks}}</span>
                          </div>
                          <ul class="chart">
                            <li>
                              <span style="height: {{repo.stargazers_count}}%" title="STAR"></span>
                            </li>
                            <li>
                              <span style="height: {{total_spice[loop.index0]}}%" title="COMMITS"></span>
                            </li>
                            <li>
                              <span style="height: {{repo.forks}}%" title="FORKS"></span>
                            </li>
                          </ul>
                        </div>
                </div>
                    {% endfor %}
                    <div style="background-color:#87cefa">COMMITS COMPARISON
                    <ul class="chart">
                      {% for repo in repos %}
                      <li>
                        <span style="height: {{total_spice[loop.index0]}}%" title="{{repo.name}}"></span>
                      </li>
                      {% endfor %}

                    </ul>
                  </div>
                  </div>


        </div>
        {% else %}

            {% if error %}
            <div class ="alert alert-danger">
                {{error}}
            </div>


            {% endif %}
        {% endif %}



    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
